# Ignore Python bytecode cache files
# These files are created by Python in "__pycache__" directories to cache compiled bytecode, and are not needed in the repository.
__pycache__/

# Ignore Jupyter Notebook checkpoints
# Jupyter Notebook creates ".ipynb_checkpoints" directories to store checkpoint files, which are used for notebook recovery and are not necessary for version control.
.ipynb_checkpoints/

# Ignore dev notebooks/ dev folder used for experimental testing
notebooks/development/
notebooks/sandbox.ipynb

# Ignore data file with personal info entered
src/config/data.json

# Ignore cached files from notebooks or elsewhere
cached_data/

# Ignore custom generated images/figures
figures/
images/


# Ignore local archived functions
src/functions/archived/